<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Corporation:</strong>
  <%= @student.corporation %>
</p>

<p>
  <strong>Session:</strong>
  <%= @student.session %>
</p>

<p>
  <strong>Transport:</strong>
  <%= @student.transport %>
</p>

<p>
  <strong>Date:</strong>
  <%= @student.date %>
</p>

<p>
  <strong>Check:</strong>
  <%= @student.check %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
