<!DOCTYPE html>
<html>
        <%# app/views/layouts/application.html.erb %>
  <head>
    <title>Agenda Mensual de Mile Peña ***CSDD***</title>
    <%= csrf_meta_tags %>
<!--     <%= csp_meta_tag %> -->
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script src="https://js.pusher.com/4.1/pusher.min.js"></script> <!-- # add this line -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
